body {
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
}
#display {
    display: flex;
    border: 2px solid black;
    
}
#number1 {
    border: 2px solid black;
    width: 5em;
}
#number2 {
    border: 2px solid black;
    width: 5em;

}
#total {
    border: 2px solid black;
    width: 5em;
}