body {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 166, 31);
    margin: 0;
    padding: 0;
    min-height: 100vh;

}
header {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding: 15px;
    margin-bottom: auto;
}
#container {
    display: flex;
    height: 4em;
    justify-content: center;
}
#display {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-top: 5px;
}
button {
    justify-content: center;
    font-size: x-large;
    width: 100%;
}
#operators {
    display: flex;
}
footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding: 15px;
    justify-content: center;
    margin-top: auto;
}